 $color-dark:rgb(38, 35, 35);
$color-black:#000;
$color-prime:#d3ab55;
$color-second:#bbb;
$color-white:#fff;
$font-ds:'Dancing Script',cursive;
$font-jf:'Josefin Sans',sans-serif;
$font-n:'Nunito',sans-serif;
$font-sahel:sahel,tahoma;
$font-nas:nas,tahoma;
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin textStyles {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
@mixin centering($topval){
    position: absolute;
    top: $topval;
    left: 50%;
    transform: translate(-50%,-50%);
}
@font-face {
    font-family: sahel;
    src: url(Sahel-Black.ttf);
    font-weight: normal;
}
@font-face {
    font-family: nas;
    src: url(IranNastaliq.ttf);
}
%fullSpace{
    width: 100%;
    height: 100%;
}
*{
    padding: 0%;
    margin: 0%;
}
body{
background-color: $color-dark;
}