 $color-dark:rgb(38, 35, 35);
$color-black:#000;
$color-prime:#d3ab55;
$color-second:#bbb;
$font-ds:'Dancing Script',cursive;
$font-jf:'Josefin Sans',sans-serif;
$font-n:'Nunito',sans-serif;
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin textStyles {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
@mixin centering($topval){
    position: absolute;
    top: $topval;
    left: 50%;
    transform: translate(-50%,-50%);
}
*{
    padding: 0%;
    margin: 0%;
}
body{
background-color: $color-dark;
}