.logo{
    font-size: 70px;
    color: $color-prime;
   @include flexCenter;
    width: 110px;
    height: 110px;
    margin-right: 50px;
    border: 3px solid $color-prime;
    border-radius: 50%;
}
.main-name{
    font-family: $font-n;
    font-size: 50px;
    color: $color-second;
    @include textStyles;
}
.sub-name{
    font-family: $font-jf;
    font-size: 18px;
    color: $color-second;
    text-align: center;

}
.main-heading{
    font-family: $font-ds;
    font-size: 100px;
    font-weight: 300;
    color:$color-prime;
    margin-bottom: 40px ;
}
.sub-heading{
    font-family: $font-jf;
    font-size: 60px;
    font-weight: 300;
    color:$color-second;
    margin-bottom: 80px ;

}
.main-btn{
    width: 170px;
    height: 45px;
    font-family: $font-jf;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-prime;
    background-color: transparent;
    border: 3px solid $color-prime;
    cursor: pointer;
    transition: all 400ms;
    &:hover{
        background-color: $color-prime;
        color: $color-dark;
    }
}
