.hamburger-menu {
  height: 40px;
  width: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 100;
  .menu {
    transition: transform 0.5s;
    cursor: pointer;
    @extend %fullSpace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &-line {
      width: 100%;
      height: 4px;
      background-color: $color-prime;
      transition: all .5s .5s;
      transform-origin: right;
    }
  }
}
.logo {
  font-size: 70px;
  color: $color-prime;
  @include flexCenter;
  width: 110px;
  height: 110px;
  margin-right: 50px;
  border: 3px solid $color-prime;
  text-decoration: none;
  border-radius: 50%;
}
.main-name {
  font-family: $font-sahel;
  font-size: 50px;
  color: $color-second;
  @include textStyles;
}
.sub-name {
  font-family: $font-sahel;
  font-size: 18px;
  color: $color-second;
  text-align: center;
}
.main-heading {
  font-family: $font-nas;
  font-size: 100px;
  font-weight: 300;
  color: $color-prime;
  margin-bottom: 40px;
}
.sub-heading {
  font-family: $font-sahel;
  font-size: 60px;
  font-weight: 300;
  color: $color-second;
  margin-bottom: 80px;
}
.main-btn {
  width: 170px;
  height: 45px;
  font-family: $font-sahel;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-prime;
  background-color: transparent;
  border: 3px solid $color-prime;
  cursor: pointer;
  transition: all 400ms;
  &:hover {
    background-color: $color-prime;
    color: $color-dark;
  }
}
.card {
  width: 33.3%;
  height: 30vw;
  position: relative;
  overflow: hidden;
  &:hover .card-overlay {
    left: 0;
  }
  &-overlay {
    transition: left 0.4s ease-out;
    position: absolute;
    top: 0;
    left: -100%;
    @extend %fullSpace;
    color: $color-white;
    background: linear-gradient(transparent 50%, $color-prime 100%);
    z-index: 10;
    @include flexCenter;
    flex-direction: column;
    &-heading {
      font-family: $font-nas;
      font-size: 90px;
      @include textStyles;
    }
    &-paragraph {
      font-family: $font-sahel;
      font-size: 30px;
      margin-bottom: 30px;
      @include textStyles;
    }
    &-btn {
      width: 150px;
      height: 40px;
      color: $color-prime;
      background-color: $color-white;
      font-family: $font-sahel;
      font-size: 14px;
      border: 1px solid $color-prime;
      border-radius: 30px;
      outline: none;
      cursor: pointer;
    }
  }
  &-img {
    @extend %fullSpace;
    object-fit: cover;
    opacity: 0.5;
  }
}
