.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba($color-black, 0.9), rgba($color-black, 0)),
    url(images/bg.jpeg) center no-repeat;
  background-size: cover;
  .brand {
    @include centering(15%);
    @include flexCenter;
  }
  &-banner {
    @include centering(50%);
    color: wheat;
    text-align: center;
  }
}
.about-us {
  height: 90vh;
  display: flex;
  align-items: center;
  &-left {
    width: 40%;
  }
  img {
    width: 100%;
    opacity: 0.6;
  }
  &-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
  }
  .stars {
    margin: 30px 0;
    .star {
      font-size: 15px;
      margin-left: 10px;
      color: $color-prime;
    }
  }
  .descript {
    font-family: $font-sahel;
    color: $color-second;
    text-align: justify;
    direction: rtl;
    &::first-letter{
font-size: 20px;
font-weight: 300;
margin-right: 20px;
    }
  }
  .sub-heading{
      font-size: 40px;
  }
}
.gallery{
  .cards-wrapper{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
  }
}