.navbar {
  position: relative;
  z-index: 10;
  &-navigation {
    display: flex;

    &-left {
      position: fixed;
      left: -50vw;
      width: 50vw;
      height: 100vh;
      background-color: rgb(32, 32, 32);
      transition: all ease-in-out .5s;
      .left-img {
        border-radius: 10px;
        box-shadow: 0 15px 60px rgba(black, 0.6);
        opacity: 0.7;
        width: 50%;
        position: absolute;
        &-1 {
          top: 15%;
          left: 15%;
        }
        &-2 {
          top: 35%;
          left: 25%;
        }
        &-3 {
          top: 55%;
          left: 35%;
        }
      }
    }

    &-right {
      position: fixed;
      right:  -50vw;
      width: 50vw;
      height: 100vh;
      background-color: rgb(71, 71, 71);
      @include flexCenter;
      transition: all ease-in-out .5s;
      .nav-list {
        direction: rtl;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100%;
        &-item {
          height: 30px;
          list-style: none;
          width: 100%;
          a {
            font-family: $font-sahel;
            font-size: 30px;
            text-decoration: none;
            color: white;
            display: block;
            transition: all ease-in-out .2s;
            text-align: center;
            &:hover{
              color: $color-prime;
              font-size: xx-large;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
}
.checkbox:checked ~ .navbar-navigation .navbar-navigation-left{
left: 0 ;
}
.checkbox:checked ~ .navbar-navigation .navbar-navigation-right{
right: 0 ;
}
.checkbox:checked ~ .hamburger-menu .menu{
  &-line-2{
    opacity: 0;
  }
  &-line-1{
    transform: rotateZ(-40deg);
  }
  &-line-3{
    transform: rotateZ( 40deg);
  }
}
.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba($color-black, 0.9), rgba($color-black, 0)),
    url(images/bg.jpeg) center no-repeat;
  background-size: cover;
  .brand {
    @include centering(15%);
    @include flexCenter;
  }
  &-banner {
    @include centering(50%);
    color: wheat;
    text-align: center;
  }
}
.about-us {
  margin-bottom: 100px;
  height: 90vh;
  display: flex;
  align-items: center;
  &-left {
    width: 40%;
  }
  img {
    width: 100%;
    opacity: 0.6;
  }
  &-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
  }
  .stars {
    margin: 30px 0;
    .star {
      font-size: 15px;
      margin-left: 10px;
      color: $color-prime;
    }
  }
  .descript {
    font-family: $font-sahel;
    color: $color-second;
    text-align: justify;
    direction: rtl;
    &::first-letter {
      font-size: 20px;
      font-weight: 300;
      margin-right: 20px;
    }
  }
  .sub-heading {
    font-size: 40px;
  }
}
.gallery {
  .cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer {
  padding: 70px 0;
  @include flexCenter;
  flex-direction: column;
  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
  }
  .social-media {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 70px;
    &-item {
      list-style: none;
      display: inline-block;
      margin: 50px;
      i {
        position: absolute;
        transition: all 500ms;
        font-size: 50px;
        &:hover {
          color: white !important ;
          font-size: 70px;
        }
      }
    }
    &-link {
      text-decoration: none;
      font-size: 50px;
     
    }
  }
  &-copyright-paragraph {
    font-family: $font-sahel;
    font-size: 20px;
    color: $color-prime;
    direction: rtl;
  }
}
