.header{
    width: 100%;
    height: 100vh;
    position: relative;
    background:linear-gradient(rgba($color-black,0.9),rgba($color-black,0)), url(images/bg.jpeg) center no-repeat;
    background-size: cover;
    .brand{
        @include centering(15%);
        @include flexCenter;
        
    }
    &-banner{
        @include centering(50%);
        color: wheat;
        text-align: center;

    }
}