@font-face {
  font-family: sahel;
  src: url(Sahel-Black.ttf);
  font-weight: normal;
}

@font-face {
  font-family: nas;
  src: url(IranNastaliq.ttf);
}

.hamburger-menu .menu, .card-overlay, .card-img {
  width: 100%;
  height: 100%;
}

* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: #262323;
}

.hamburger-menu {
  height: 40px;
  width: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 100;
}

.hamburger-menu .menu {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  -webkit-transition: all .5s .5s;
  transition: all .5s .5s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.logo {
  font-size: 70px;
  color: #d3ab55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  height: 110px;
  margin-right: 50px;
  border: 3px solid #d3ab55;
  text-decoration: none;
  border-radius: 50%;
}

.main-name {
  font-family: sahel, tahoma;
  font-size: 50px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sub-name {
  font-family: sahel, tahoma;
  font-size: 18px;
  color: #bbb;
  text-align: center;
}

.main-heading {
  font-family: nas, tahoma;
  font-size: 100px;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 40px;
}

.sub-heading {
  font-family: sahel, tahoma;
  font-size: 60px;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 80px;
}

.main-btn {
  width: 170px;
  height: 45px;
  font-family: sahel, tahoma;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d3ab55;
  background-color: transparent;
  border: 3px solid #d3ab55;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.main-btn:hover {
  background-color: #d3ab55;
  color: #262323;
}

.card {
  width: 33.3%;
  height: 30vw;
  position: relative;
  overflow: hidden;
}

.card:hover .card-overlay {
  left: 0;
}

.card-overlay {
  -webkit-transition: left 0.4s ease-out;
  transition: left 0.4s ease-out;
  position: absolute;
  top: 0;
  left: -100%;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(#d3ab55));
  background: linear-gradient(transparent 50%, #d3ab55 100%);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-overlay-heading {
  font-family: nas, tahoma;
  font-size: 90px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-overlay-paragraph {
  font-family: sahel, tahoma;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-overlay-btn {
  width: 150px;
  height: 40px;
  color: #d3ab55;
  background-color: #fff;
  font-family: sahel, tahoma;
  font-size: 14px;
  border: 1px solid #d3ab55;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

.card-img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}

.navbar {
  position: relative;
  z-index: 10;
}

.navbar-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-navigation-left {
  position: fixed;
  left: -50vw;
  width: 50vw;
  height: 100vh;
  background-color: #202020;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.navbar-navigation-left .left-img {
  border-radius: 10px;
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.6);
  opacity: 0.7;
  width: 50%;
  position: absolute;
}

.navbar-navigation-left .left-img-1 {
  top: 15%;
  left: 15%;
}

.navbar-navigation-left .left-img-2 {
  top: 35%;
  left: 25%;
}

.navbar-navigation-left .left-img-3 {
  top: 55%;
  left: 35%;
}

.navbar-navigation-right {
  position: fixed;
  right: -50vw;
  width: 50vw;
  height: 100vh;
  background-color: #474747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.navbar-navigation-right .nav-list {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.navbar-navigation-right .nav-list-item {
  height: 30px;
  list-style: none;
  width: 100%;
}

.navbar-navigation-right .nav-list-item a {
  font-family: sahel, tahoma;
  font-size: 30px;
  text-decoration: none;
  color: white;
  display: block;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  text-align: center;
}

.navbar-navigation-right .nav-list-item a:hover {
  color: #d3ab55;
  font-size: xx-large;
  letter-spacing: 2px;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  -webkit-transform: rotateZ(-40deg);
          transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  -webkit-transform: rotateZ(40deg);
          transform: rotateZ(40deg);
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0))), url(images/bg.jpeg) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url(images/bg.jpeg) center no-repeat;
  background-size: cover;
}

.header .brand {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: wheat;
  text-align: center;
}

.about-us {
  margin-bottom: 100px;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-left {
  width: 40%;
}

.about-us img {
  width: 100%;
  opacity: 0.6;
}

.about-us-right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.about-us .stars {
  margin: 30px 0;
}

.about-us .stars .star {
  font-size: 15px;
  margin-left: 10px;
  color: #d3ab55;
}

.about-us .descript {
  font-family: sahel, tahoma;
  color: #bbb;
  text-align: justify;
  direction: rtl;
}

.about-us .descript::first-letter {
  font-size: 20px;
  font-weight: 300;
  margin-right: 20px;
}

.about-us .sub-heading {
  font-size: 40px;
}

.gallery .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.footer .social-media-item {
  list-style: none;
  display: inline-block;
  margin: 50px;
}

.footer .social-media-item i {
  position: absolute;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  font-size: 50px;
}

.footer .social-media-item i:hover {
  color: white !important;
  font-size: 70px;
}

.footer .social-media-link {
  text-decoration: none;
  font-size: 50px;
}

.footer-copyright-paragraph {
  font-family: sahel, tahoma;
  font-size: 20px;
  color: #d3ab55;
  direction: rtl;
}
/*# sourceMappingURL=main.css.map */